version: '3.8'

services:
  smokeping:
    image: sistemasminorisa/smokeping:2.9.0
    hostname: ${SMOKEPING_HOSTNAME:-smokeping-master}
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Madrid}
      
      # Site Identity
      - SMOKEPING_OWNER=${SMOKEPING_OWNER:-SmokePing Admin}
      - SMOKEPING_CONTACT=${SMOKEPING_CONTACT:-admin@example.com}
      - SMOKEPING_HOSTNAME=${SMOKEPING_HOSTNAME:-smokeping-master}
      - SMOKEPING_TITLE=${SMOKEPING_TITLE:-Network Monitor}
      
      # Branding
      - SMOKEPING_BRAND_NAME=${SMOKEPING_BRAND_NAME:-My Company}
      - SMOKEPING_BRAND_URL=${SMOKEPING_BRAND_URL:-https://example.com}
      - SMOKEPING_LOGO_URL=${SMOKEPING_LOGO_URL:-images/smokeping.png}
      - SMOKEPING_COLOR_SIDEBAR_BG=${SMOKEPING_COLOR_SIDEBAR_BG:-#1a1a2e}
      
      # Config
      - TRACEPING_INTERVAL=${TRACEPING_INTERVAL:-300}
      - TRACEPING_RETENTION_DAYS=${TRACEPING_RETENTION_DAYS:-365}
      
    cap_add:
      - NET_RAW
      - NET_ADMIN
      
    volumes:
      - ./config:/config
      - ./data:/data
      - ./logs:/logs
      
    networks:
      - traefik-public
      
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        - "traefik.enable=true"
        # Router for Port 80
        - "traefik.http.routers.smokeping.rule=Host(`smokeping.example.com`)"
        - "traefik.http.routers.smokeping.entrypoints=websecure"
        - "traefik.http.routers.smokeping.tls=true"
        - "traefik.http.routers.smokeping.tls.certresolver=leresolver"
        - "traefik.http.routers.smokeping.service=smokeping-svc"
        - "traefik.http.services.smokeping-svc.loadbalancer.server.port=80"
        # Middleware for slash redirect
        - "traefik.http.middlewares.smokeping-slash.redirectregex.regex=^https?://([^/]+)/smokeping$$"
        - "traefik.http.middlewares.smokeping-slash.redirectregex.replacement=https://$${1}/smokeping/"
        - "traefik.http.routers.smokeping.middlewares=smokeping-slash"

networks:
  traefik-public:
    external: true
