version: '3.8'

services:
  smokeping:
    image: sistemasminorisa/smokeping:2.9.0
    container_name: smokeping
    hostname: ${SMOKEPING_HOSTNAME:-smokeping}
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Madrid}
      
      # Site Identity
      - SMOKEPING_OWNER=${SMOKEPING_OWNER:-SmokePing Admin}
      - SMOKEPING_CONTACT=${SMOKEPING_CONTACT:-admin@example.com}
      - SMOKEPING_HOSTNAME=${SMOKEPING_HOSTNAME:-smokeping}
      - SMOKEPING_TITLE=${SMOKEPING_TITLE:-Network Monitor}
      
      # Branding
      - SMOKEPING_BRAND_NAME=${SMOKEPING_BRAND_NAME:-My Company}
      - SMOKEPING_BRAND_URL=${SMOKEPING_BRAND_URL:-https://example.com}
      - SMOKEPING_LOGO_URL=${SMOKEPING_LOGO_URL:-images/smokeping.png}
      - SMOKEPING_COLOR_SIDEBAR_BG=${SMOKEPING_COLOR_SIDEBAR_BG:-#1a1a2e}
      
      # Config
      - TRACEPING_INTERVAL=${TRACEPING_INTERVAL:-300}
      - TRACEPING_RETENTION_DAYS=${TRACEPING_RETENTION_DAYS:-365}
      
    cap_add:
      - NET_RAW
      - NET_ADMIN
      
    ports:
      - "80:80"
      
    volumes:
      - ./config:/config
      - ./data:/data
      - ./logs:/logs
      
    restart: unless-stopped
