/* Fix para h2 - tamaño igual que producción (1.5em) */
div.panel-heading > h2,
div.panel-heading-no-border > h2,
.panel-heading h2,
.panel-heading-no-border h2 {
    font-size: 1.5em !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
    margin-bottom: 0.25rem !important;
    padding: 0.25rem 0 !important;
}
